@model CemeteryNew.Models.Deceased

@{
    ViewBag.Title = "AddDeceased";
}

<h2>Добавить новое захоронение</h2>

<p>
    Если не уверены в каких-либо данных - оставьте поля пустыми. Поля фамилии, имени и отчества - обязательные для заполнения
</p>

<div class="EditForm">
    @using (Html.BeginForm("AddDeceased", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            <input name="LastName" placeholder="Фамилия" type="text" required />
            <input name="firstName" placeholder="Имя" type="text" required />
            <input name="Parcicle" placeholder="Отчество" type="text" required />
        </div>
        <br />

        <div>
            <input name="DateBirth" placeholder="Дату рождения" type="date" />
            <input name="DateDead" placeholder="Дата смерти" type="date" />
        </div>
        <br />

        <div>
            <input name="Descript" placeholder="Описание" class="textbox" maxlength="150" />
        </div>
        <br />

        <div>
            <label>Категория</label>
            @Html.DropDownList("Categ", ViewBag.Categories as SelectList, new { @class = "DropList" })
        </div>
        <br />

        <div>
            <label>Загрузка фото</label>
            <input type="file" name="upload" style="display:block; margin-top:10px" />
        </div>
    }
</div>
<input class="button" type="submit" value="Добавить" />