@{
    ViewBag.Title = "Контакты";
}

<div class="home-blog">
    <a href="~/Content/Images/Index/График.png" target="_blank">
        <img src="~/Content/Images/Index/График.png" />
    </a>
    <h4>Вы можете позвонить по номеру +7 (8452) 69-21-16 и уточнить график работы.</h4>
    <br />
    <p>
        <br />
        <h5> Адрес: Саратовская область, г. Саратов, ул. Соколовая, д. 345</h5>
        <br />
        <ol>
            <li>Добраться можно на автобусах: №223, №238, №242, №491.</li>
            <li>Ближайшая остановка: «Институт МВД». Далее - пешком около 100 м. до кладбища.</li>
            <li>Время работы: Понедельник - Четверг: с 08:00 до 17:00; Пятница: с 08:00 до 16:00.</li>
            <li>Адрес: Российская Федерация, Саратовская область, г. Саратов, ул. Соколовая, д. 345.</li>
        </ol>
    </p>
    <br />
</div>
<br />
