@{
    ViewBag.Title = "История";
}

<div style="margin-left:50px">

    <h1>История</h1>
    <hr />

    <h2>"Умер боевой товарищ"</h2>
    <img src="~/Content/Images/History/Умер боевой товарищ.jpg" />
    <p>
        Починал боен другар, Саратов 1925г., до Пътър Таушанов
        <br />
        <strong> Источник:</strong>
        Аукцион (Болгария). Архив Петра Таушанова
        <br />
        Мы считаем, что этот снимок был сделан в 1925 году.
    </p>
    <hr />

    <h2>Воскресенское кладбище. День памяти жертв политических репрессий</h2>
    <img src="~/Content/Images/History/День памяти жертв репрессий.jpg" />
    <p>
        30 октября 1998
        <br />
        <strong> Источник:</strong>
        личный архив Дмитрия Боровского
        <br />
        Мы считаем, что этот снимок был сделан в 1998 году.
    </p>
    <hr />


    <h2>Воскресенская кладбищенская церковь</h2>
    <img src="~/Content/Images/History/Участок воскресенского кладбища.jpg" />
    <p>
        Каменная церковь на Воскресенском кладбище была построена в 1844 году. Впоследствии к церкви были пристроены два придельных храма. Здание разрушено в 1930 году.
        <br />
        <strong> Источник:</strong>
        Фотофонд ГАСО
        <br />
        Мы считаем, что этот снимок был сделан между 1930-1931 годами.
    </p>
    <hr />


    <h2>Участок Воскресенского кладбища</h2>
    <img src="~/Content/Images/History/Участок воскресенского кладбища.jpg" />
    <p>
        <strong> Источник:</strong>
        <a href="https://vk.com/sarist">ИСТОРИЯ САРАТОВСКОГО КРАЯ И НИЖНЕГО ПОВОЛЖЬЯ (группа ВК) </a>
        <br />
        Мы считаем, что этот снимок был сделан между 1946-1955 годами.
    </p>
    <hr />


    <h2>Открытие памятника Вавилову на Воскресенском кладбище</h2>
    <img src="~/Content/Images/History/Открытие памятника Вавилову.jpg" />
    <p>
        25 сентября 1970 г.
        <strong>Источник:</strong>
        http://goskatalog.ru/portal/#/collections?id=8691733
        <br />
        Мы считаем, что этот снимок был сделан в 1970 году.
    </p>
    <hr />



    <h2>Могила Чернышевского</h2>
    <img src="~/Content/Images/History/Могила Чернышевского.jpg" />
    <p>
        <strong> Источник:</strong>
        книга "Н.Г. Чернышевский в портретах, иллюстрациях и документах. Пособие для учителей" (1977)
        <br />
        Мы считаем, что этот снимок был сделан до 1977 года.
    </p>
    <hr />

</div>