@{
    ViewBag.Title = "Воскресенское кладбище г.Саратова";
}

<h1>Главная</h1>

<div class="Burial">
    <img class="BurialPhotoHead" src="~/Content/Images/Index/1.jpg" alt="" />
    <h1 class="BurialDescript">Центральный вход в "Некрополь"</h1>
</div>
<h2>Известные захоронения</h2>

<div>

    <div class="Samples-Burials">

        <div class="Burial">
            <div class="BurialDescript">
                <h4> Могила академика Н. И. Вавилова</h4>
                На мемориальном комплексе похоронен известный русский писатель, литературный критик, философ Николай Гаврилович Чернышевский, а также члены его семьи. На некрополе покоится супруга поэта, писателя и публициста Николая Алексеевича Некрасова — Зинаида Некрасова. На погосте находится могила легендарного советского ученого, академика Николая Ивановича Вавилова.</></p>
            </div>
            <img class="BurialPhoto" src="~/Content/Images/Index/2.jpg" alt="" />
        </div>


        <div class="Burial">
            <img class="BurialPhoto" src="~/Content/Images/Index/3.jpg" alt="" />
            <div class="BurialDescript">
                <h4>Жертвы политических репрессий</h4>
                На некрополе установлен мемориал в память о жертвах политических репрессий, погибших на территории Саратова и Саратовской области.</h5></span>
            </div>
        </div>



        <div class="Burial">
            <img class="BurialPhoto" src="~/Content/Images/Index/4.jpg" alt="" />
            <div class="BurialDescript">
                <h4>Братская могила</h4>
                На некрополе в братской могиле похоронены солдаты, умершие от ран в годы Великой Отечественной войны в госпиталях Саратова. На погосте покоятся участники войны, удостоенные званий Героев Советского Союза. В память о военнослужащих на кладбище установлен мемориал, представляющий собой скульптуру воина-освободителя.</h5>
            </div>
        </div>
    </div>


    <div class="PhotoGalery">
        <h3>Фотогалерея</h3>
        
                <img width="200" height="225" src="~/Content/Images/Galary/1.jpg"/>
            
                <img width="200" height="225" src="~/Content/Images/Galary/2.jpg"/>
            
                <img width="200" height="225" src="~/Content/Images/Galary/3.jpg"/>
            
                <img width="200" height="225" src="~/Content/Images/Galary/4.jpg"/>
            
                <img width="200" height="225" src="~/Content/Images/Galary/5.jpg"/>
            
        
    </div>

</div>